name: CI Pipeline #the recipe
on:  #When to start cooking (trigger)
  push:
    branches: [main]
jobs:   #The main dishes to prepare
  build: #One dish called "build"
    runs-on: ubuntu-latest  #Use a Linux kitchen
    steps: #The cooking instructions
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test



